# Ignore everything
*

# But not these files
!.gitignore
!.myfuncs

# Don't ignore directories
!*/

# Don't ignore dummy files
!**/dummy.md

# Don't ignore .c files
!**/*.c
# Don't ignore .h files
!**/*.h
# Don't ignore .sh files
!**/*.sh
# Don't ignore .md files
!**/*.md
# Don't ignore Python files
!**/*.py
# Don't ignore Jupyter notebooks
!**/*.ipynb
# Don't ignore assembly files
!**/*.asm
# Don't ignore HTML files
!**/*.html
# Don't ignore license
!LICENSE
# Don't ignore makefile
!makefile
# Don't ignore Dockerfile
!Dockerfile
# Don't ignore nginx.conf
!**/*nginx.conf
# Don't ignore docker-compose
!**/docker-compose.yml

# Don't ignore Web files
!**/*.php
!**/*.css
!**/*.js
!**/*.sql

# Don't ignore config and text files
!**/*.txt
!**/*.conf
!**/*.json

# Don't ignore images
!**/*.png
!**/*.jpg
!**/*.jpeg
!**/*.gif

# Don't ignore specific project artifacts
!projects/Ext2Parser/ext2.img
!**/*.creds.example

# Ignore env directory
env/